body {
  padding: 0px;
  margin: 0px;
}
.container {
  width: 640px;
  height: 640px;
  background: #d2d2d2;
  position: relative;
}
.input_styles {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.2em;
}
